.background {
    /* height: 15%; */
    background-color: #F0F4F9;
    margin-top: 1.5rem;
    border-radius: .95rem;
}

.container {
    height: 47vh;
    padding: 1.5rem 2.55rem 1.5rem 2.55rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textContainer {
    margin-top: .8rem;
    width: 48%;
}

.title {
    font-size: 1.25rem;
    font-weight: 540;
    color: #777777;
}

.subtitle {
    color: #777777;
    font-size: 1.1rem;
    font-weight: 580;
    margin-top: .8rem;
}

.blurb {
    font-size: 1.1rem;
    margin-top: .8rem;
}

.thumbnailContainer {
    width: 40%;
    background-color: white;
    border-radius: .75rem;
    display: flex;
    justify-content: center;
}

@media (max-width:890px) {
    .container {
        flex-direction: column;
    }

    .textContainer {
        width: 80%;
    }

    .thumbnailContainer {
        margin: 2.5rem auto 2.5rem auto;
        width: 100%;
    }
}

.thumbnail {
    max-height: 110%;
    max-width: 115%;
    margin: -1rem -2rem -1rem -2rem;
}
