.p {
    font-size: 1rem;
}

.image {
    border-radius: 5px;
}
  
.padding1px {
    padding-top: 1px;
}

.container {
  text-align: center
}

#valentineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.question {
    font-size: 1.2em;
    color: #470F0B;
}

/* #buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    gap: 150px;
} */


.yesButton {
    position: absolute;
    border: none;
    margin-top: 18.5em;
    margin-right: 10.5em;
    padding: 10px;
    border-radius: 8px;
    background-color: #FCCDD6;
    font-size: 1em;
    color: #470F0B;
}

.noButton {
    position: absolute;
    border: none;
    margin-top: 18.5em;
    margin-left: 10.5em;
    padding: 10px;
    border-radius: 8px;
    background-color: #FCCDD6;
    font-size: 1em;
    color: #470F0B;
}

